<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />  
  </head>
  <body>
    <div  class="manuscript-container" id="container"> 
    </div> 
    <script src="./app.js"></script>
    <script> 
      let content = "<%= data %>";
       //document.getElementById("content").innerText = verses;
       initManuscript(content); 
    </script> 
  </body>
</html>